/**
 * project-specific css file
 * 
 *  Name      Web-Safe  RGB           Hex
 *  Azure     0099CC    0,137,207     #0089CF
 *  Ocean     00FFCC    124,204,191   #7CCCBF
 *  Leaf      66FF00    131,179,65    #83B341
 *  Hibiscus  FF9900    252,175,23    #FCAF17
 *  Mango     CC6600    223,109,39    #DF6D27
 *  Fire      990000    160,30,33     #A01E21
 *  Orchid    FF0066    237,12,110    #ED0C6E
 *  Lava      000000    50,35,3       #322303
 *  White     FFFFFF    255,255,255   #FFFFFF
 */


#ticket-type-widget {
    float: left;
    margin-right: 20px;
}

#department-widget {
    float: left;
    margin-right: 20px;
}

#category-widget {
    float: left;
    margin-right: 20px;
}

#ticket-count-widget {
    float: left;
    margin-right: 20px;
    padding: 2px 6px;
    border: 1px solid #ccc;  
}

#ticket-count-widget ul {
    list-style: none;
    margin: 0px;
}

#ticket-count-widget > ul > li {
    float: left;
    margin-left: 16px;
    margin-right: 4px;
}

#ticket-count-widget > ul:first-child {
    margin-left: -12px;
}

#control-panel-widget {
    float: right;
    padding: 2px 6px;
    border: 1px solid #ccc;  
}

#ticket-list-widget {
    margin-top: 10px;
    clear: both;
}

#ticket-detail-widget {
    margin-top: 40px;
    clear: both;
}

.break {
    clear: both;
}

table {
    border: 1px solid #FCAF17;
    table-layout: fixed;
}

/*thead > tr, tbody {
    display: block;
}*/

th {
    padding: 6px;
    text-align: left;
    background: #FCAF17;
    border-bottom: 1px solid #FCAF17;
}

tbody {
    height: 100px;
    overflow: auto;
}

td {
    padding: 3px 6px;
}

tr:nth-child(even) {
    background: #FEEFD1;
}

tr:hover {
    background: #DAE8C6;
}


/*
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/
